<mat-card class="card">
  <div fxLayoutAlign="space-between">
    <span class="sub-heading black-60">Today's most viewed courses</span>
    <mat-icon>help</mat-icon>
  </div>
  <ol>
    <div>
      <li class="paragraph black-85">High Performance Habits</li>
      <span class="paragraph-l black-60">John Doe | Entrepreneur</span>
    </div>
    <div>
      <li class="paragraph black-85">Leadership 101</li>
      <span class="paragraph-l black-60">Jane Smith | Leader</span>
    </div>
    <div>
      <li class="paragraph black-85">Psychology of Success</li>
      <span class="paragraph-l black-60">Home Thomas | Psychologist</span>
    </div>
    <div fxLayout="row" fxLayoutGap="24px">
      <span class="paragraph black-60">View all recommendations</span>
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </ol>
</mat-card>
