<mat-card class="card">
  <div class="card__header"></div>
  <ion-avatar class="card__avatar">
    <img src="assets/Nihad.jpg" />
  </ion-avatar>
  <div fxLayout="column" class="card__name">
    <span class="sub-heading pure-black">Nihad KV</span>
    <span class="paragraph-s black-60">Full Stack Developer</span>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="column" class="card__footer">
    <div fxLayoutAlign="space-between">
      <span class="paragraph-xs black-60">Who viewed your profile</span>
      <span class="card__footer__label">10</span>
    </div>
    <div fxLayoutAlign="space-between">
      <span class="paragraph-xs black-60">Connenctions</span>
      <span class="card__footer__label">40</span>
    </div>
    <div>
      <span class="paragraph-s pure-black">Manage your network</span>
    </div>
  </div>
</mat-card>
