<div fxLayout="column" fxLayoutGap="12px">
  <div fxLayout="row" fxLayoutGap="10px">
    <ion-avatar>
      <img src="assets/Nihad.jpg" />
    </ion-avatar>
    <div fxLayout="column" fxLayoutGap="2px">
      <span class="heading pure-black">Nihad KV</span>
      <span class="sub-heading black-60">Full Stack Developer</span>
    </div>
  </div>
  <button mat-flat-button class="paragraph-l popover__button">
    VIEW PROFILE
  </button>
  <div fxLayout="column" fxLayoutGap="2px">
    <span class="paragraph pure-black">Account</span>
    <span class="paragraph-s black-60 popover__settings"
      >Settings & Privacy</span
    >
    <span class="paragraph-s black-60 popover__settings">Help</span>
    <span class="paragraph-s black-60 popover__settings">Language</span>
    <mat-divider></mat-divider>
    <span class="paragraph pure-black">Manage</span>
    <span class="paragraph-s black-60 popover__settings"
      >Posts & Activities</span
    >
    <span class="paragraph-s black-60 popover__settings"
      >Job Posting Account</span
    >
    <mat-divider></mat-divider>
    <span class="paragraph-s black-60 popover__settings">Sign Out</span>
  </div>
</div>
