.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 36px 100px;
  background-color: var(--pure-white);
}

ion-searchbar {
  width: 300px;
}

.logo-icon {
  font-size: 42px;
}

.linkedin-icon {
  margin-right: 10px;
}

ion-avatar {
  width: 32px;
  height: 32px;
}

.button-icon {
  cursor: pointer;
}

.button-icon > div {
  margin-bottom: 8px;
}
