.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 0 100px;
}

ion-searchbar {
  width: 300px;
}

.logo-icon {
  font-size: 42px;
}

ion-icon {
  font-size: 24px;
}

.linkedin-icon {
  margin-right: 10px;
}

ion-avatar {
  width: 28px;
  height: 28px;
}
